[Desktop Entry]
Name=EXWM
Comment=Emacs Window Manager
Exec=sh /home/rfh/.emacs.d/exam/start-exwm.sh
TryExec=sh
Type=Application
X-LightDM-DesktopName=exwm
DesktopNames=exwm